.bl {
  background-color: red;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

$head_height: 14vh;

.header {
  width: 100%;
  max-height: $head_height;
}

.logo {
  max-height: inherit;
  padding: 15px;
}

$nav_width: 15%;

.navigation {
  position: fixed !important;
  width: $nav_width;
  height: (100vh - $head_height);
}

.aside {
  margin-left: 15%;
}

.card {

}

.product-grid {
  background-color: white;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.5)); }

$img_max_height: 280px;

.image {
  max-width: 100%;
  max-height: 280px;
}

.product {
  background-color: white;
  border-radius: 5px;
  transition: all 0.1s ease;
  text-align: center;
}

.product:hover {
  filter: drop-shadow(0 0 4px black);
  transition: all 0.1s ease;
}

.product-title {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.price {
  font-size: 35px;
  font-weight: bold;
  color: darkblue;
}

.price-discount {
  font-size: 40px;
  font-weight: bolder;
  color: darkred;
  display: block;
}

.price-old {
  font-size: 20px;
  color: grey;
  text-decoration: line-through;
}

.categories{
  width: 100%;
}
